body {
  background: #D6D3C4;
  width: 60%;
  margin: auto;
  text-align: center;
}

h1 {
  color: #998542;
}

p {
  color: #332C2C;
}

h2 {
  color: #FFFFFF;
}

hr {
  color: #D6D3C4;
  width: 75%;
}

.block {
  background: #500000;
  padding:10px;
  color: #D6D3C4;
  position: static;
  width: 75%;
  margin: auto;
}
